body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  position: relative;
  height: fit-content;
}

.ameture {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #666;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
}

.profile-pic img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

h2 {
  margin: 20px 0 5px;
  font-size: 23px;
  font-weight: bold;
}

.occupation {
  color: #888;
  margin-bottom: 20px;
}

.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.contact-number {
  font-size: 15px;
  color: #333;
  margin-bottom: auto;
  text-align: left;
  padding-left: 8px;
}

.email {
  font-size: 10px;
  color: #333;
  margin-bottom: 30px;
  text-align: left;
}
.email-box {
  font-size: 15px;
  color: cyan;
  padding: 5px;
}
.email-box:hover {
  background-color: beige;
  color: rgb(77, 29, 13);
}
.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.stat p:first-child {
  font-weight: bold;
  color: #333;
}

.actions {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.follow {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

.hire-me {
  background-color: #333;
  color: #fff;
}
